/*
Tested on Windows NT 10.0 
Chrome 54.0.2840.87
Firefox 49.0.2
IE Edge 13
*/


/* ================================= 
  Base Element Styles
==================================== */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: url('svgs/background.svg') #edeff0;
  background-repeat: repeat;
  background-size: 53px 50px;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

/* ---- Header ---- */

header {
  padding-top: 10px;
}
  header nav {
    padding-bottom: 50px;
    text-align: left;
  }
  header nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  header h1 {
    line-height: 1em;
  }

/*---- Logo ---- */

.logo {
  width: 140px;
  height: 120px;
}

.logo .st1 {
  opacity: 0;
}

/* ---- Navigation ---- */

#nav-heart,
#nav-contact {
 height: 13px;
}

#nav-location {
  height: 14px;
}

#nav-heart .st0,
#nav-location .st0,
#nav-contact .st0  {
  fill: #39add1;
}

a:hover #nav-icon,
a:hover {
  fill: #000;
  color: black;
}

/*---- Fix IE SVG extra space ----*/
li svg {
  width: 16px;
}
  li svg:first-child {
    margin-right: 0;
  }

/*---- Main Section ----*/

main {
  padding-top: 50px;
}
  main h2 {
    font-size: 28px;
  }
  main ul {
   padding: 0;
  }
  main li {
    display: inline-block;
    color: #39add1;
    margin-right: 20px;
  }
  main li img {
    margin-bottom: 15px;
  }
  main li span {
    margin-left: -40px;
  }
  main li:last-child {
    margin-right: 0;
  }

/*---- Dog Images ----*/

.dogs svg {
  width: 170px;
  height: 170px; 
}

#corgi-red .st0 { fill:#BA8058; }
#corgi-red .st1 { fill:#FBFEFF; }
#corgi-red .st2 { fill:#2D3339; }
#corgi-red .st3 { fill:#EAAA7F; }

#corgi-fawn .st0 { fill:#EAAA7F; }
#corgi-fawn .st1 { fill:#FBFEFF; }
#corgi-fawn .st2 { fill:#2D3339; }
#corgi-fawn .st3 { fill:#F4C6A6; }

#corgi-sable .st0 { fill:#844B24; }
#corgi-sable .st1 { fill:#FBFEFF; }
#corgi-sable .st2 { fill:#2D3339; }
#corgi-sable .st3 { fill:#BA8058; }

#corgi-black .st0 { fill:#BA8058; }
#corgi-black .st1 { fill:#52595F; }
#corgi-black .st2 { fill:#FBFEFF; }
#corgi-black .st3 { fill:#2D3339; }

.dogs li svg {
  transform-origin: 50% 50%;
  transition: all .3s;
}
  .dogs li svg:hover {
    transform: rotate(-15deg) ;
  }

/* ---- Footer ---- */

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 420px) {

  .logo-text  {
    display: none;
  }
    .logo .st1 {
      opacity: 1;
    }
    
}